.con {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.star {
  color: red;
}

.header {
  width: 100%;
  height: 0.42rem;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-around;
  background: rgb(244, 244, 244);
  p {
    font-size: 0.12rem;
  }
}

.section{
  flex:1;
  overflow: auto;
  background:rgb(245, 245, 249);
}

.info{
  height: .9rem;
  margin-left: .2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.price{
  color: red;
}

.choosenum{
  width: auto;
  margin-top: .5rem;
  margin-left: .5rem;
  display: flex;
  text-align: center;
  align-items: center;
  line-height: .3rem;
}

.reduce{
  width: .3rem;
  height: .3rem;
  border-left: .01rem solid #ccc;
  border-top: .01rem solid #ccc;
  border-bottom: .01rem solid #ccc;
}

.num{
  min-width:.6rem;
  height: .3rem;
  border: .01rem solid #ccc;
}

.add{
  width: .3rem;
  height: .3rem;
  border-top: .01rem solid #ccc;
  border-right: .01rem solid #ccc;
  border-bottom: .01rem solid #ccc;
}
.ul{
  width: 100%;

  .li {
    display: flex;
    height: 1rem;
    padding: 0.1rem 0.1rem;
    background: #fff;
    align-items: center;
    border-bottom: 0.01rem solid #eee;
    .checkbox {
      width: 0.3rem;
    }
    .imgbox {
      width: 0.9rem;
      background: rgb(245, 245, 249);
      img {
        width: 100%;
      }
    }
    .goodsinfo {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 0.2rem;
      box-sizing: border-box;
      .price {
        color: red;
      }
    }
    .goodsnum {
      width: 0.3rem;
      text-align: center;
    }
  }
}


.footer{
  width: 100%;
  height: 0.58rem;
  flex-shrink: 0;
  background: #fff;
  display: flex;
  align-items: center;
  font-size: 0.16rem;
  z-index: 99;
  box-shadow: 0 -0.05rem 0.1rem #ccc;
  .allchoose {
    width: 0.55rem;
    text-align: center;
  }
  .edit {
    padding: 0 0.3rem;
  }
  .order {
    flex: 1;
    height: 100%;
    background: rgb(171, 43, 43);
    color: #fff;
    font-size: 0.14rem;
    text-align: center;
    line-height: 0.5rem;
  }
}
