
.searchBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(245, 245, 249);
    header{
        display: flex;
        width: 100%;
        height: 0.5rem;
        line-height: 0.5rem;
        justify-content: space-between;
        border-bottom: 2px solid #ccc;
        background: #fff;
        flex-shrink:0;
        input{
            width: 80%;
            height: 0.35rem;
            margin-top: 0.07rem;
            border: none;
            padding-left:0.15rem;
            background: rgb(245, 245, 249);
        }
        span{
            padding: 0 0.06rem;
        }
    }
    .deyails{
        width: 100%;
        flex: 1;
        overflow: hidden;
    }
    .contenD{
        width: 100%;
        overflow: scroll;
        flex:1;
        margin-top: 0.3rem;
        .active{
            width: 100%;
            display: flex;
            margin-top: 0.1rem;
            position: fixed;
            top:0.75rem;
            background: #fff;
            border-bottom: 2px solid #ccc;
            // flex-shrink:0;
            // // overflow: hidden;
            li{
                padding:0.06rem 0.2rem;
                border:solid 1px #ccc;
                margin:0.03rem 0.1rem;
            }
        }
        .ol{
            display: flex;
            display: none;
        }
    }
    .searchTop{
        width: 100%;
        height: 0.35rem;
        display: flex;
        position: fixed;
        top: 0.5rem;
        border-bottom: 2px solid rgb(156, 151, 151);
        flex: 1;
        background: #fff;
        li{
            width: 33%;
            line-height: 0.35rem;
            height: 0.35rem;
            text-align: center;
        }
    }
    .history,.hot{
        width: 100%;
        background: #fff;
        margin-bottom: 0.1rem;
        padding: 0.05rem;
        h3{
            font-size: 0.16rem;
        }
        .historyCen,.hotCen{
            width: 100%;
            display: flex;
            padding-bottom: 0.05rem;
            flex-wrap: wrap;
            span{
                display: inline-block;
                padding: 0.05rem;
                text-align: center;
                border:solid 1px #ccc;
                margin:0.03rem 0.07rem;
                border-radius: 0.05rem;
            }
        }
    
    }
      .result{
        width: 100%;
        height: 0.35rem;
        line-height: 0.35rem;
        border-bottom: 2px solid #ccc;
        padding-left: 0.2rem;
    }
}
