.headerBox{
    width: 100%;
    display: flex;
    border-bottom: 2px solid #ccc;
    height:0.5rem;
    line-height:0.5rem;
   p{
    width: 15%;
    text-align: center;
       a{
       
        font-size: 0.16rem;
        text-decoration: none;
        color:#000;
       }
     
   }
}
