.con{
   flex:1;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
}

.special{
   width: 100%;
   text-align: center;
   margin: 0.2rem 0 ;
   background: #fff;
   dt{
      width: 100%;
      img{
         width: 100%;
      }
   }
   h3{
      color: red;
   }
   h2{
      font-weight: normal;
  }
  p{
     color: #ccc;
     line-height: 0.3rem;
  }
}

.a{
   text-decoration: none;
   width: 100%;
   color: #000;
}