.special{
   width: 100%;
   text-align: center;
   margin: 0.2rem 0 ;
   background: #fff;
   h3{
      color: red;
   }
   h2{
      font-weight: normal;
  }
  p{
     color: #ccc;
     line-height: 0.3rem;
  }
}

.a{
   text-decoration: none;
   color: #000;
}