.collect{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
}
.header{
    width: 100%;
    height: .44rem;
    line-height: .44rem;
    text-align: center;
    border-bottom:1px solid #ccc;
    background:#fff;
    span{
       
        font-size:0.16rem;  
    }
    h3{
        font-weight: bold;
    }
}
.subject{
    width:100%;
    flex:1;
    overflow: scroll;
    dl>a{
        display:inline-block;
        width:100%;
        height:1.5rem;
        background:#fff;
        display:flex;
        dt>img{
            width:1.1rem;
            height:1.1rem;
            margin:.1rem;
        }
        dd{
            flex:1;
            box-sizing: border-box;
            padding: 0.3rem 0;
            line-height: 0.3rem;
            span {
                font-size: .32rem;
                color: #8b0000;
              }
        }
    }
}
