.login {
  width: 100%;
  height: 100%;
}

.login p {
  width: 50%;
  margin: 1.5rem auto;
}

.login p img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.login input {
  width: 90%;
  height: 0.6rem;
  margin-top: 0.5rem;
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0.2rem;
}

.login button {
  display: inline-block;
  width: 80%;
  height: 1rem;
  margin: 0.4rem auto;
  background: #0f8de8;
  text-align: center;
  border: none;
}
