.shopDetalBox{
    width: 100%;
    height: 100%;
    background: rgb(245, 245, 249);
    .hint{
        width: 100%;
        height: 100%;
        position: relative;
        top: -0.39rem;
        left: 0;
        background: rgb(244, 244, 244);
        ul{
            width: 100%;
            display: flex;
            li{
                width: 33%;
                list-style: none;
                text-align: center;
                height: 0.35rem;
                line-height: 0.35rem;
                span{
                     color: red;
                     margin-right: 0.08rem;
                }
            }
        }
    }
    .introduceH{
        width: 100%;
        height: 100%;
        background: #fff;
        margin-bottom: 0.2rem;
        margin-top: -0.37rem;
        .introduce{
            width: 100%;
            text-align: center;
            border-bottom: 1px solid #ccc;
            
          
            h2{
                font-weight: normal;
                font-size: 0.20rem;
                padding-top: 0.1rem;
            }
            h3{
                color: red;
                font-size: 0.18rem;
                line-height: 0.45rem;
                margin-bottom: 0.2rem;
            }
        }
        .count{
            width: 100%;
            height: 0.5rem;
            
            display: flex;
            justify-content: space-between;
            p{
                text-align: right;
               
                line-height: 0.5rem;
                span{
                    margin-right: 0.2rem;
                    font-size: 0.16rem;
                }
                .spanCount{
                      color: red;
                }
        
            }
        }
    }
    .comment{
        width: 100%;
        height: 100%;
        background: #fff;
        margin-bottom: 0.2rem;
        ul{
            display: flex;
            list-style: none;
            justify-content: space-between;
            border-bottom: 1px solid #000;
            li{
                width: 50%;
                padding-left: 0.2rem;
                line-height: 0.35rem;
            }
        }
        dl{
            padding-left: 0.2rem;
            padding-top: 0.1rem;
            dt{
                display: flex;
            }
        }
    }
    .product{
        width: 100%;
        height: 100%;
        background: #fff;
        padding-bottom: 0.2rem;
        dl{
            width: 85%;
            margin: 0 auto;
            height: 100%;
            background: rgb(220, 223, 230);
            margin-top: 0.1rem;
            display: flex;
            line-height: 0.35rem;
            text-align: left;
           dt{
               width: 30%;
               padding-left: 0.2rem;
               color: rgb(152, 128, 128);
           }
        }
        h2{
            text-align: center;
            color: rgb(16, 142, 243);
            font-weight: normal;
            font-size: 0.16rem;
            padding-top: 0.2rem;
        }
    }
    .issue{
        width: 100%;
        height: 100%;
        background: #fff;
        padding-bottom: 0.3rem;
        h2{
            text-align: center;
            color: rgb(16, 142, 243);
            font-weight: normal;
            font-size: 0.16rem;
            padding-top: 0.2rem;
        }
        i{
            width: 20%;
            color: red;
            font-weight: bold;
        }
        div{
            width: 85%;
            margin: 0 auto;
            h3{
                display: flex;
                margin-left: -0.2rem;
                line-height: 0.35rem;
            }
            p{
                color: rgb(128, 128, 128);
            }
        }
    }
    .like{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background: #fff;
        margin-top: 0.1rem;
        h2{
            text-align: center;
            color: rgb(16, 142, 243);
            font-weight: normal;
            font-size: 0.16rem;
            padding-top: 0.2rem;
        }
        dl{
            width: 49%;
            text-align: center;

          h3{
              color: red;
          }
        }
    }

    
}


.headerBox{
    width: 100%;
    display: flex;
    border-bottom: 2px solid #ccc;
    height:0.5rem;
    line-height:0.5rem;
  
    background: #fff;
   p{
    width: 25%;
    text-align: center;
       a{
        display: inline-block;
        font-size: 0.20rem;
        text-decoration: none;
        color:#000;
        text-align: left;
        padding-left: 0.1rem;
       }
     
   }
   header{
    font-size: 0.16rem;
   }
}
a{
    display: inline-block;
    // font-size: 0.16rem;
    text-decoration: none;
    color:#000;
    text-align: center;
   
}